// = partial "grande_romanzo_americano/partials/author_grid"

= partial "grande_romanzo_americano/partials/hero"

= partial "grande_romanzo_americano/partials/usa_text"

= partial "grande_romanzo_americano/partials/kit"

= partial "grande_romanzo_americano/partials/blog"

= partial "grande_romanzo_americano/partials/sfida"

= partial "grande_romanzo_americano/partials/bebookers"
