---
title: 'Un brindisi al grande romanzo americano'
cover_image: '/images/usa/cover.jpg'
page_name: 'Un brindisi al grande romanzo americano'
page_description: 'Vieni con noi il 3 luglio 2014 da Open a Milano per fare un brindisi al grande romanzo americano'
---

// = partial "grande_romanzo_americano/partials/author_grid"

= partial "grande_romanzo_americano/partials/hero"

= partial "grande_romanzo_americano/partials/usa_text"

= partial "grande_romanzo_americano/partials/kit"

= partial "grande_romanzo_americano/partials/blog"

= partial "grande_romanzo_americano/partials/sfida"

= partial "grande_romanzo_americano/partials/bebookers"
