.usa_first_week {
  background-color: $red;
  background-size: cover;
  padding: 5em 0 12em 0;
  position: relative;
  width: 100%;
  display: table;
  margin-bottom: 5em;

  .usa_first_week__copy {
    position: absolute;
    left: 50%;
    margin: auto;
    z-index: 100;
    top: 40%;
    text-align: center;

    h2 {
      position: relative;
      font-family: $serif;
      color: white;
      left: -50%;
    }

    p {
      padding: 1em 2em;
      position: relative;
      left: -50%;
      color: white;
      font-weight: 800;
    }
  }
}
