$ipad: new-breakpoint(max-width 768px 4);
$iphone: new-breakpoint(max-width 480px 4);

.usa_playoff {

  @include outer-container;
  @include margin(0 0.5em 5em 0.5em);

  @include media($medium-screen) {
    li.usa_playoff__li {
      @include span-columns(3);
      @include omega(4n);
    }
  }

  @include media($ipad) {
    li.usa_playoff__li {
      @include span-columns(2);
      @include omega(2n);

      margin-bottom: 1em;
    }
  }

  .usa_playoff__cards {
    @include clearfix;
  }

  .usa_playoff__cards--card {
    $card-border-color: $base-border-color;
    $card-background: $asphalt;
    $card-header-background: $card-background;
    $card-hover-background: lighten($card-background, 5);
    $card-image-background: #DBD199;
    $card-image-hover-background: lighten($card-image-background, 5);
    $card-stats-color: lighten($base-accent-color, 10);

    @include transition (all 0.2s ease-in-out);
    background-color: $card-background;
    cursor: pointer;
    position: relative;

    .usa_playoff__cards--card-image {
      overflow: hidden;
      max-height: 150px;

      img {
        width: 100%;
        @include transition (all 0.2s ease-in-out);
        background: $card-image-background;
      }
    }

    .usa_playoff__cards--card-header {
      @include transition (all 0.2s ease-in-out);
      text-align: center;
      background-color: $card-header-background;
      font-weight: bold;
      color: white;
      padding: $base-line-height/3 $gutter/2;
    }

    &:hover {
      background-color: $card-hover-background;

      .usa_playoff__cards--card-image img {
        background: $card-image-hover-background;
      }

      .usa_playoff__cards--card-header {
        background-color: $card-hover-background;
      }
    }

    &:active {
      background-color: $card-background;

      .usa_playoff__cards--card-header {
        background-color: $card-background;
      }
    }
  }
}

.usa_playoff__cards--circle__versus {
  width: 50%;
  $versus-size: 5em;
  @include size($versus-size);
  position: relative;
  top: 12em;
  left: 21%;
  z-index: 100;
  @include media($ipad) {
    top: 12em;
    left: 43.8%;
  }
  @include media($iphone) {
    top: 12em;
    left: 41%;
  }
}

.usa_playoff__cards--circle__versus:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background: $red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.3);
}

.usa_playoff__cards--circle__versus div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color: white;
  font-size: .8em;
  font-weight: 800;
}

.usa_playoff__cards--circle__versus--right {
  width: 50%;
  $versus-size: 5em;
  @include size($versus-size);
  position: relative;
  top: 7em;
  right: -71.5%;
  z-index: 100;
  @include media($ipad) {
    top: 20em;
    left: 43.8%;
  }
  @include media($iphone) {
    top: 18em;
    left: 41%;
  }
}

.usa_playoff__cards--circle__versus--right:after {
  content: "";
  display: block;
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background: $red;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.3);
}

.usa_playoff__cards--circle__versus--right div {
  float:left;
  width:100%;
  padding-top:50%;
  line-height:1em;
  margin-top:-0.5em;
  text-align:center;
  color: white;
  font-size: .8em;
  font-weight: 800;
}
