.usa_text {
  text-align: center;

  h2 {
    font-family: $serif;
    color: $asphalt;
  }

  h3 {
    font-family: $serif;
    color: $light-asphalt;
  }

  p {
    font-family: $sans-serif;
    color: $light-asphalt;
  }
}
