.blog-usa__wrapper__button {
  @include rounded-button(block, $turquoise, $green-sea);
  margin-left: auto;
  margin-right: auto;
  @include padding(1.45em 0 0 0);

  a {
    color: $base-body-color;
    text-decoration: none;
  }
}

.blog-usa__wrapper {
}

.blog-usa {
  $blog-usa-gutter: 1.4em;
  $blog-usa-image-padding: .7em;
  $blog-usa-image-width: 4em;
  $blog-usa-color: $base-font-color;
  $blog-usa-background: lighten($base-accent-color, 15);
  $blog-usa-detail-color: transparentize($dark-gray, .5);
  $blog-usa-image-vert-alignment: top;

  display: table;
  width: 100%;
  margin-bottom: $base-line-height;
  padding-bottom: 1em;

  .blog-usa__image,
  .blog-usa__content {
    display: table-cell;
    vertical-align: $blog-usa-image-vert-alignment;
  }

  .blog-usa__image {
    padding-right: $blog-usa-gutter;
    padding-left: $blog-usa-gutter;
    margin-right: $blog-usa-gutter;
    @include transition (all 0.2s ease-in-out);

    &:hover {
      opacity: 0.7;
      filter: alpha(opacity=70);
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 6em;
    height: 6em;


    > img {
      width: $blog-usa-image-width;
      height: auto;
      border-radius: $base-border-radius;
      padding: $blog-usa-image-padding;
      background: $blog-usa-background;
      display: block;
      max-width: none;
    }

    .blog-usa--reverse-order & {
      padding-right: 0;
      padding-left: 10px;
    }
  }

  .blog-usa__content {
    width: 100%;

    h1 {
      font-family: $sans-serif;
      font-size: 1em;
      margin-bottom: .5em;
      color: $dark-gray;
    }

    p {
      margin-bottom: .5em;
    }

    p.blog-usa__detail {
      font-style: italic;
      font-size: .9em;
      color: $blog-usa-detail-color;
    }
  }

}
