$ipad: new-breakpoint(max-width 768px 4);
$iphone: new-breakpoint(max-width 480px 4);

.usa_hero {
  $image-gradient-color-top: rgba(0, 0, 0, 0.0);
  $transparency-top: .0;
  $image-gradient-color-bottom: rgba(0, 0, 0, 1);
  $transparency-bottom: .8;
  $vertical-angle: 180deg;

  $image-gradient-color-left: rgba(26, 188, 156,0.0);
  $transparency-left: .8;
  $image-gradient-color-right: rgba(0, 0, 0, 0.6);
  $transparency-right: 1.0;
  $horizontal-angle: 180deg;

  position: relative;
  line-height: 0;
  width: 100%;

  background: url(/images/bg-home.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  padding-top: 10em;

  @include media($ipad) {
    padding-top: 19em;
  }

  @include media($iphone) {
    padding-top: 25em;
  }

  .usa_hero__copy {
    position: absolute;
    bottom: -10%;
    left: 50%;
    margin: auto;
    z-index: 200;
    text-align: center;
    @include transform(translate(-50%, -50%));

    h1 {
      family: $sans-serif;
      @include margin(0em 0em 2em 0em);
      color: white;
    }

    p {
      line-height: 1.5em;
      position: relative;
      color: white;
      font-weight: 800;
      //background-color: transparentize(black, .6);
    }
  }

  .usa_hero__container{
    @include transform(translate(0, -10%));

    @include media($ipad) {
      @include transform(translate(0, -30%));
    }

    @include media($iphone) {
      @include transform(translate(0, -40%));
    }

    .usa_hero__container__item {
      height: 100px;
      width: 25%;
      position: relative;
      z-index: 100;
      text-align: center;
      margin-bottom: 1em;
      height: 300px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  .usa_hero__overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
      darken($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);
    z-index: 150;
  }
}

.usa_hero__button {
  display: inline-block;
  border: 3px solid $blue;
  border-radius: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 6em;
  height: 6em;
  background: $blue;
  color: white;
  line-height: 1em;
  font-weight: 700;
  @include padding(1.3em 0 0 0);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  overflow: hidden;
  right: 47.5%;
  cursor: pointer;
  @include transition (all 0.5s ease-in-out);
  font-size: 0.6em;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.3);

  &:hover {
    background-color: $light-blue;
  }

  .usa_hero__button--red {

  }

  .usa_hero__button--white {

  }
}
