.usa_open {
  background-color: $yellow;

  .usa_open__wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 41em;
    text-align: center;
    img {
      width: 50%;
      height: auto;
    }
  }

  .usa_open__copy {
    max-width: 41em;
    @include padding(2em 0em 0em 0em);
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-align: center;
    color: $base-body-color;
    color: $asphalt;

    p {

    }

    h2 {

    }
  }
}
