.usa_text {
  @include padding(5em 0.5em 5em 0.5em);
  text-align: center;

  h2 {
    font-family: $serif;
    color: $asphalt;
  }

  p {
    font-family: $sans-serif;
    color: $light-asphalt;
  }
}
