.tool {
  a {
    color: $white;
    @include transition(all 0.2s ease-in-out);
  }

  a:hover{
    color: rgba(241, 196, 15,1.0);
  }
}

.usa_kit {
  background: $blue;
  @include padding(2em 2em 2em 2em);
  //margin-top: 5em;

  img {
      height: auto;
      margin: auto;
      width: 100%;
      display: block;
  }

  .usa_kit__ribbon {
    @include rounded-button(block, $yellow, $light-yellow);
    position: absolute;
    top: -1.8em;
    right: -2em;
    z-index: 100;
  }

  .usa_kit__list {
    padding-top: 5em;
  }

  $iphone: new-breakpoint(max-width 480px);
  $ipad: new-breakpoint(max-width 768px);

  .usa_kit__sizer {
    width: 20%;

    @include media($ipad) {
      width: 25%;
    }

    @include media($iphone) {
      width: 50%;
    }
  }

  .usa_kit__item {
    width: 20%;
    background: $light-blue transparent;

    @include media($ipad) {
      width: 25%;
    }

    @include media($iphone) {
      width: 50%;
    }
  }

  .usa_kit__item.small {
    width: 10%;
    background: $light-blue transparent;

    @include media($ipad) {
      width: 12.5%;
    }

    @include media($iphone) {
      width: 25%;
    }
  }

  .usa_kit__item.big {
    width: 40%;
    background: $light-blue transparent;

    @include media($ipad) {
      width: 50%;
    }

    @include media($iphone) {
      width: 100%;
    }
  }
}

.usa_kit__book {
  display: block;
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1em;

  img {
    position: relative;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  }
}

.usa_kit__copy {
  display: block;
  left: 50%;
  margin: auto;
  z-index: 100;
  @include padding(3em 0em 0em 0em);
  text-align: center;
  color: $base-body-color;

  h2 {
    font-family: $sans-serif;
  }

  p {
    font-weight: 800;
  }
}
