/ <meta name="description=" content="{{ page.description }}">
/ <meta property="fb:app_id"          content="269829379846399" />
/ <meta property="fb:profile_id"      content="40kbooks" />
/ <meta property="og:type"            content="article" />
/ <meta property="og:url"             content="{{ site.url }}{{ page.url }}" />
/ <meta property="og:title"           content="{{ page.title }}" />
/ <meta property="og:description"     content="{{ page.content | strip_html | truncate:200 }}">
/ <meta property="og:image"           content="{{ site.url }}{{ img.url }}">
/
/ <meta name="twitter:card"           content="summary_large_image">
/ <meta name="twitter:site"           content="@40kbooks">
/ <meta name="twitter:creator"        content="@{{ author.twitter }}">
/ <meta name="twitter:title"          content="{{ page.title }}">
/ <meta name="twitter:description"    content="{{ page.description }}">
/ <meta name="twitter:image:src"      content="{{ site.url }}{{ page.cover }}">
/ <meta name="twitter:card"           content="summary">

//Facebook
meta[content="http://www.bookrepublic.it##{data.page.cover_image}" property="og:image"]
meta[content="Bookrepublic live: i libri dal vivo" property="og:site_name"]
meta[content="1292377305" property="fb:admins"]
meta[content="1707792040" property="fb:admins"]
meta[content="it_IT" property="og:locale"]
meta[name="#{data.page.page_name}" content="#{data.page.page_description}"]
meta[content="Bookrepublic" property="fb:profile_id"]
meta[content="article" property="og:type"]
meta[content="http://www.bookrepublic.it#{current_page.url}" property="og:url"]
meta[content="#{data.page.title}" property="og:title"]
meta[content="#{data.page.page_description}" property="og:description"]
meta[content="Book" property="article:section"]

//Twitter
meta[content="summary_large_images" name="twitter:card"]
meta[content="@Bookrep" name="twitter:site"]
meta[content="@Bookrep" name="twitter:creator"]
meta[content="#{data.page.page_name}" name="twitter:title"]
meta[content="#{data.page.page_description}" name="twitter:description"]
meta[content="http://www.bookrepublic.it#{data.page.cover_image}" name="twitter:image:src"]
