.blog_home {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .blog_home__container {
    position: relative;
    @include padding(8em 0em 0em 0em);
  }

  .blog_home__sizer {
    width: 25%;

    @include media($ipad) {
      width: 25%;
    }

    @include media($iphone) {
      width: 50%;
    }
  }

  .blog_home__item {
    background-color: $red;
    width: 50%;
    height: 400px;
    padding: 0.8em;
  }

  .blog_home__item.small {
    @extend .blog_home__item;
    background-color: $blue;
    width: 25%;
    height: 100px;
  }

  .blog_home__item.big {
    @extend .blog_home__item;
    background-color: $yellow;
    width: 100%;
    height: 250px;
  }
}
