.divider {
  text-align: center;
  border-bottom: 1px solid #CACACA;
  margin-bottom: 4.5em;

  h6 {
  font-family: $sans-serif;
  text-transform: uppercase;
  color: gray;
  font-weight: 500;
  display: inline-block;
  position: relative;
  font-size: 1em;
  top: 13px;
  background: $base-body-color;
  padding: 0 10px;
  }
}
