.layout {
    @include outer-container;
    margin-left: auto;
    margin-right: auto;
}

.layout--small {
  @extend .layout;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.layout--blog {
  @extend .layout;
  width: 65%;

  @include media($ipad) {
    width: 80%;
  }

  @include media($iphone) {
    width: 90%;
  }
}
